[submodule "Homework3/src/googletest"]
	path = Homework3/src/googletest
	url = https://github.com/google/googletest.git
[submodule "Homework4/src/eigen"]
	path = Homework4/src/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Homework4/src/googletest"]
	path = Homework4/src/googletest
	url = https://github.com/google/googletest.git
